<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Contacts</title>
</head>

<body bgcolor="#eeeeee">
    <form th:action="@{/save}" th:object="${contact}" method="post">
        <input type="hidden" th:field="*{id}">
        <fieldset style="width:700px">
            <legend>Contact</legend>
            <table width="100%">
                <tr>
                    <td align="right" nowrap>First Name</td>
                    <td width="100%">
                        <input type="text" th:field="*{firstName}" style="width:100%">
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap>Last Name</td>
                    <td width="100%">
                        <input type="text" th:field="*{lastName}" style="width:100%">
                    </td>
                </tr>
                <tr>
                    <td align="right" nowrap>Email</td>
                    <td width="100%">
                        <input type="text" th:field="*{email}" style="width:100%">
                    </td>
                </tr>
                <tr>
                    <td colspan="2" width="100%" align="center">
                        <input type="submit" value="Save" width="100px">
                        <input type="button" value="Cancel" width="100px" onclick="window.location='/'">
                    </td>
                </tr>
            </table>
        </fieldset>


    </form>
</body>
</html>